Applicant/xml-resources/web-service-references/CVService/wsdl/localhost_8080/JobServiceCompany/CVService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="uploadCV" type="tns:uploadCV" />

<xs:element name="uploadCVResponse" type="tns:uploadCVResponse" />

<xs:complexType name="uploadCV">
<xs:sequence>
<xs:element name="CVXML" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadCVResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>