JobServiceCompany/src/conf/xml-resources/web-service-references/JobDescriptionService/wsdl/localhost_8080/JobServiceCompany/JobDescriptionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getJobs" type="tns:getJobs" />

<xs:element name="getJobsResponse" type="tns:getJobsResponse" />

<xs:complexType name="getJobs">
<xs:sequence>
<xs:element name="criteria" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getJobsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>