JobServiceCompany/web/WEB-INF/wsdl/localhost_8084/CompaniesDatabase/CompanyInfo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getCompanyInfo" type="tns:getCompanyInfo" />

<xs:element name="getCompanyInfoResponse" type="tns:getCompanyInfoResponse" />

<xs:complexType name="getCompanyInfo">
<xs:sequence>
<xs:element name="companyname" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCompanyInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>